<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>EmployeeHub</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h1 class="mb-4">
        Employee List
    </h1>
    <a th:href="@{/employees/new}" class="btn btn-primary mb-3">
        Add Employee
    </a>

    <form th:action="@{/employees}" method="get" class="row mb-3">

        <div class="col-md-8">
            <input
                    type="text"
                    class="form-control"
                    name="keyword"
                    th:value="${keyword}"
                    placeholder="Search by name, email or department">
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary w-100">
                Search
            </button>
        </div>

        <div class="col-md-2">
            <a th:href="@{/employees}"
               class="btn btn-secondary w-100">
                Clear
            </a>
        </div>

    </form>

    <table class="table table-bordered">

        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        <tr th:if="${employees.empty}">
            <td colspan="4" class="text-center">
                No employees found
                <span th:if="${keyword}">
            for "<span th:text="${keyword}"></span>"
        </span>
            </td>
        </tr>

        <tr th:each="employee : ${employees}">

            <td th:text="${employee.id}"></td>

            <td>
                <span th:text="${employee.firstName}"></span>
                <span th:text="${employee.lastName}"></span>
            </td>

            <td th:text="${employee.email}"></td>

            <td th:text="${employee.department}"></td>

            <td>

                <a th:href="@{/employees/edit/{id}(id=${employee.id})}"
                   class="btn btn-warning btn-sm">
                    Edit
                </a>


                <a th:href="@{/employees/delete/{id}(id=${employee.id})}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>