<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>EmployeeHub</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet">
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-5">

    <h1 class="mb-4">
        Employee List
    </h1>
    <a sec:authorize="hasRole('ADMIN')"
       th:href="@{/employees/new}"
       class="btn btn-primary mb-3">
        Add Employee
    </a>
    <form th:action="@{/employees}" method="get" class="row mb-3">

        <div class="col-md-8">
            <input
                    type="text"
                    class="form-control"
                    name="keyword"
                    th:value="${keyword}"
                    placeholder="Search by name, email or department">
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary w-100">
                Search
            </button>
        </div>

        <div class="col-md-2">
            <a th:href="@{/employees}"
               class="btn btn-secondary w-100">
                Clear
            </a>
        </div>

    </form>

    <table class="table table-bordered">

        <thead class="table-dark">
        <tr>

            <th>ID</th>

            <th>
                <a class="text-white"
                   th:href="@{/employees(
                pageNo=0,
                sortField='firstName',
                sortDirection=${sortDirection == 'asc' ? 'desc' : 'asc'}
           )}">
                    Name
                </a>
            </th>

            <th>Email</th>

            <th>
                <a class="text-white"
                   th:href="@{/employees(
                pageNo=0,
                sortField='department',
                sortDirection=${sortDirection == 'asc' ? 'desc' : 'asc'}
           )}">
                    Department
                </a>
            </th>
            <th>actions</th>

        </tr>
        </thead>

        <tbody>

        <tr th:if="${employees.empty}">
            <td colspan="5" class="text-center">
                No employees found
                <span th:if="${keyword}">
            for "<span th:text="${keyword}"></span>"
        </span>
            </td>
        </tr>

        <tr th:each="employee : ${employees}">

            <td th:text="${employee.id}"></td>

            <td>
                <span th:text="${employee.firstName}"></span>
                <span th:text="${employee.lastName}"></span>
            </td>

            <td th:text="${employee.email}"></td>

            <td th:text="${employee.department}"></td>

            <td sec:authorize="hasRole('ADMIN')">

                <a th:href="@{/employees/edit/{id}(id=${employee.id})}"
                   class="btn btn-warning btn-sm">
                    Edit
                </a>


                <a th:href="@{/employees/delete/{id}(id=${employee.id})}"
                   onclick="return confirm('Are you sure you want to delete this employee?')">
                    Delete
                </a>

            </td>

        </tr>

        </tbody>

    </table>

    <nav>
        <ul class="pagination">

            <li class="page-item"
                th:classappend="${currentPage == 0} ? 'disabled'">

                <a class="page-link"
                   th:href="@{/employees(
            pageNo=${currentPage - 1},
            keyword=${keyword},
            sortField=${sortField},
            sortDirection=${sortDirection}
       )}">
                    Previous
                </a>

            </li>


            <li class="page-item"
                th:each="i : ${#numbers.sequence(0,totalPages-1)}">

                <a class="page-link"
                   th:text="${i+1}"
                   th:href="@{/employees(
pageNo=${i},
keyword=${keyword},
sortField=${sortField},
sortDirection=${sortDirection}
)}">
                </a>

            </li>


            <li class="page-item"
                th:classappend="${currentPage == totalPages-1} ? 'disabled'">

                <a class="page-link"
                   th:href="@{/employees(
            pageNo=${currentPage + 1},
            keyword=${keyword},
            sortField=${sortField},
            sortDirection=${sortDirection}
       )}">
                    Next
                </a>

            </li>

        </ul>
    </nav>

</div>

</body>
</html>